<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #box{
            align-items: center;
            text-align: center;
        }
    h1{

    }
    a button{
       padding: 8px;
       margin: auto;
        color: white;
        background-color: rgb(9, 24, 24);
    }
    </style>
</head>
<body>
    <div id="box">
         <h1>Good By!!<br></h1>
        <a href="/m"><button>LogOut</button></a>
    </div>
</body>
</html>