<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f8ff; /* Light background */
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .box {
            width: 100%;
            max-width: 400px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 20px;
            margin: 20px auto;
        }

        h2 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }

        label {
            font-size: 14px;
            color: #555;
            margin-bottom: 8px;
        }

        input[type=email], input[type=password] {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 16px;
        }

        input[type=submit] {
            background-color: #ff7f50;
            color: white;
            border: none;
            padding: 14px 20px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        input[type=submit]:hover {
            background-color: #e76f51;
        }

        a button {
            width: 100%;
            padding: 12px;
            background-color: #008080;
            color: white;
            border: none;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 15px;
            transition: background-color 0.3s ease;
        }

        a button:hover {
            background-color: #006666;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="box">
        <h2>Register</h2>
        <form action="si" method="POST">
            <label for="email">Enter Email</label><br>
            <input type="email" name="email" id="email" placeholder="Email.." required><br>

            <label for="fpass">Enter New Password</label><br>
            <input type="password" name="password" id="fpass" placeholder="Enter password.." required><br>

            <input type="submit" value="Click to Register"><br>
        </form>
        <a href="/m"><button id="LogOut">Back to login page</button></a>
    </div>
</body>

</html>
